BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# Sets up reset button
LOCATE COMP "reset" SITE "D6";
IOBUF  PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33;

### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# row0
LOCATE COMP "row[0]" SITE "B11";
IOBUF  PORT "row[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# row1
LOCATE COMP "row[1]" SITE "C11";
IOBUF  PORT "row[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# row2
LOCATE COMP "row[2]" SITE "A10";
IOBUF  PORT "row[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# row3
LOCATE COMP "row[3]" SITE "A11";
IOBUF  PORT "row[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# col0
LOCATE COMP "col[0]" SITE "A9";
IOBUF  PORT "col[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# col1
LOCATE COMP "col[1]" SITE "B10";
IOBUF  PORT "col[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# col2
LOCATE COMP "col[2]" SITE "B9";
IOBUF  PORT "col[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# col3
LOCATE COMP "col[3]" SITE "C10";
IOBUF  PORT "col[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;


#decoded_keys on LEDs
#led0
LOCATE COMP "decoded_key[0]" SITE "B2";
IOBUF  PORT "decoded_key[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# led1
LOCATE COMP "decoded_key[1]" SITE "C2";
IOBUF  PORT "decoded_key[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# led2
LOCATE COMP "decoded_key[2]" SITE "C1";
IOBUF  PORT "decoded_key[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# led3
LOCATE COMP "decoded_key[3]" SITE "D2";
IOBUF  PORT "decoded_key[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# led4
LOCATE COMP "key_type[4]" SITE "D1";
IOBUF  PORT "key_type[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# led5
LOCATE COMP "key_type[5]" SITE "E2";
IOBUF  PORT "key_type[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# led6
LOCATE COMP "key_type[6]" SITE "E1";
IOBUF  PORT "key_type[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# led7
LOCATE COMP "key_valid[7]" SITE "H3";
IOBUF  PORT "key_valid[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;




